<style>
    #button {
        padding: 8.5px 20px;
        border-radius: 25px;
        border: 0;
        background-color: white;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 12px;
        transition: all .5s ease;
        text-decoration: none;
        display:inline-block;
    }

    #button:hover {
            letter-spacing: 3px;
            background-color: hsl(343deg 96.2% 41.2%);
            color: hsl(0, 0%, 100%);
            box-shadow: #ce045f 0px 7px 29px 0px;
    }

    #button:active {
            letter-spacing: 3px;
            background-color: hsl(343deg 96.2% 41.2%);
            color: hsl(0, 0%, 100%);
            box-shadow: #ce045f 0px 0px 0px 0px;
            transform: translateY(10px);
            transition: 100ms;
    }
#alinhamento{
    text-align:center;
}
</style>
@model List<Aluno>

@if(TempData["MsgErro"] != null)
{
    <div class="alert-danger">
        @TempData["MsgErro"]
    </div>
}
else
{
    <div class="alert-success">
        @TempData["MsgSucesso"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Idade</th>
            <th scope="col">CEP</th>
            <th scope="col">Ver Endereço</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            foreach(Aluno aluno in Model)
            {
                <tr>
                    <td>@aluno.Id</td>
                    <td> @aluno.Matricula</td>
                    <td> @aluno.Nome</td>
                    <td> @aluno.Idade</td>
                    <td> @aluno.Cep</td>


                <td >
                    <div>
                        <a id="button" type="submit" class="btn-light" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.Cep">Endereco</a>
                    </div>
                </td>
                <td >
                    <div>
                        <a id="button" type="submit" class="btn-light" role="button" asp-controller="Aluno" asp-action="Editar" asp-route-id="@aluno.Id"> Editar Aluno </a>
                    </div>
                </td>
                    <td >
                    <div>
                            <a id="button" type="submit" class="btn-light" role="button" asp-controller="Aluno" asp-action="ExcluirAluno" asp-route-id="@aluno.Id"> Excluir Aluno </a>
                        </div>
                </td>
                </tr>
            }
        }
    </tbody>
</table>

@*BOTÃO DE ADICIONAR*@
<div id="alinhamento">
    <a id="button" type="submit" class="btn-light" role="button" asp-controller="Aluno" asp-action="AdicionarAluno"> Adicionar Aluno </a> 
</div>
